
* {
    box-sizing: border-box;
    width: 100%;
    /*margin: auto 0;*/

}
body {
    width: 100%;
    margin: auto 0;
    padding: 5%;
    text-align: center;
    font-family: sans-serif;
}

/*-------below is for alert div---------*/
.alert-info a {
    background: #ccffff;
    border: 1px solid #ccc;
    padding: 5% 0;
    margin: auto 0;
    width: 100%;
    text-decoration: none;
}

.alert-info {
    display: flex;
}


/*-------below section adjust links within nav bar------*/

nav {
    display: flex;
    align-content: center;
    /*flex-grow: 1;*/
}

nav ul {
    list-style-type: none;
    padding: 0;
    /*background: grey;*/
}

.nav-links a {
  /*align-content: center;*/
    align-content: center;

}
.nav-links li {
    /*margin: 5% 10%;*/
    padding: 5%;
    margin: 5% 0;
    background: #ccc;
    /*display: flex;*/
    text-align: center;
}

ul.nav-links {
    margin: 0;
    padding: 0;
}

/*------- Adjust the section content -------*/

#main, .sub-section{
    text-align: left;
    margin-bottom: 20%;
}

.sub-section{
    font-style: italic;
}
/*------- Sorting out the footer items -------*/

footer{
     display: flex;
 }

footer p{
    margin: 0;
    text-align: left;
}
#social-media-links {
    display: flex;
    flex-basis: 20%;
}


/*------- Adjusting the layout with media queries for desktop -------*/
@media screen and (min-width: 960px) {

    /*------- Adjusting the different nav items for desktop view -------*/
    * {
        /*max-width: 1024px;*/
        width: 100%;
    }

    body {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 30%;
        grid-template-areas:
                "header nav"
                "image image"
                "mainSection subSection"
                "footer footer"

    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        grid-area: nav;
    }

    h1 {
        flex-direction: row;
        text-align: left;
        /*display: flex;*/
        grid-area: header;
    }

    .hidden-on-desktop {
        display: none;
    }

    .nav-links li {
        background: transparent;
        flex-direction: row;
        justify-items: flex-end;
    }

    ul.nav-links {
        display: flex;
    }

    .header-img {
        grid-area: image;
    }

    .main {
        grid-area: mainSection;
    }

    .sub-section {
        grid-area: subSection;
    }

    /*footer p {*/
    /*    grid-area: copy;*/
    /*}*/

    footer {
        /*margin: auto 0;*/
        grid-area: footer;
    }

}

